<!-- Displays in certain cases where unauthorized users attempt to access forbidden content -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">Forbidden</h1>
                <p class="post-subtitle">You do not have permission to view or edit this entry.</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}