{% extends "base.html" %}
{% load static %}

{% block content %}

<p>Test Display: post_detail</p>

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">
                    {{ appt.procedure }}
                </h1>
                <p class="post-subtitle">
                    Consultant: {{ appt.consultant }}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="status-{{appt.status | lower }}">
                <tr>
                    <td>
                        {{ appt.appt_date }}
                    </td>
                    <td>
                        {{ appt.appt_time }}
                    </td>
                    <td>
                        {{ appt.status }}
                    </td>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <article class="card-text">
                    <h2>Appointment Details</h2>
                    {{ appt.details | linebreaks|safe }}

                    <h3>Follow Up Details</h3>
                    {{ appt.followup_details | linebreaks|safe }}
                    <h3>Travel Plans</h3>
                    {{ appt.travel_details | linebreaks|safe }}
                </article>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-8">
            {% if appt.user == request.user %}
            <button class="btn btn-delete" data-appt_id="{{ appt.id }}">Delete</button>
            
                <a href="{% url 'appointments:edit' appt.id %}">
                    <button class="btn btn-edit" data-cappt_id="{{ appt.id }}">Edit Appointment</button>
                </a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Appointment?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete your appointment?
          This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn
            btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/appointments.js' %}"></script>
{% endblock %}