{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <!-- <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in profile.featured_image.url %}
            <img src="{% static 'images/nobody.jpg' %}" alt="placeholder image" class="profile-image">
            {% else %}
            <img src="{{ profile.profile_image.url }}" alt="{{ profile.name }}" class="profile-image">
            {% endif %}
        </div> -->
        <div class="col-12 col-md-8 text-center">
            <h2>{{ profile.name }}</h2>
            <p>
                {{ profile.info | safe }}
            </p>
            <h3>Contact Phone Number:</h3>
            <p>
                {{ profile.contact_phone }}
            </p>

            <h3>Contact Email:</h3>
            <p>
                {{ profile.contact_email }}
            </p>

        </div>
        <hr>
        <div class="col-12 col-md-3 text-center">
            <h2>Consultants</h2>
            <p>You can add or edit consultants here. Consultants selected for your appointments will be added to this list. </p>
            <p>You can edit or remove consultants by clicking on the 'More. button beside their name.</p>
            <p>You can add new consultants with the button below.</p>
            <a href="{% url 'appointments:consultant_create' %}" class="d-block">
                <button class="btn btn-light w-100">Add Consultant</button>
            </a>
        </div>
        <div class="col-12 col-md-8 text-center">
            {% include 'appt/list_consultant.html' with consultants=consultants %}
        </div>

    </div>
    <br>

    {% if profile.user == request.user %}
    <div class="row justify-content-center">
        <div class="col-md-4 mt-2">
            <a href="{% url 'profile:edit' %}" class="d-block">
                <button class="btn btn-edit w-100" data-profile_id="{{ profile.id }}">Edit Profile</button>
            </a>
        </div>
        <div class="col-md-4 mt-2">
            <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteAccModal">Delete
                Account</button>
        </div>
    </div>
    {% endif %}

</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}