
<nav class="navbar navbar-expand-md navbar-light bg-white col-md-3 col-lg-2 flex-column">
    <div>
        <!-- Groups all navbar elements together for column display. Remove this if you want elements spread out -->
        <a class="navbar-brand" href="{% url 'appointments:home' %}"><span class="brand"><span
                    class="red-o">Care</span><span class="thin">|Compass</span></span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                        href="{% url 'appointments:home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li><a class="nav-link {% if request.path == profile_url %}active{% endif %}" aria-current="page"
                        href="{% url 'profile:profile' %}">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_logout' %}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == create_url %}active{% endif %}" aria-current="page"
                        href="{% url 'appointments:create' %}">Create New Appointment</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_signup' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                        href="{% url 'account_login' %}">Login</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>