body {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed !important;
    z-index: 10;
    background-color: #abb6c2ff;
}

/* Media queries */
/* Navbar control */

@media (min-width: 768px) {
    .navbar {
        height: 100vh;
    }
}
